/****** GENERAL ******/

* 
{
    margin: 0;
    box-sizing: border-box ;
}

/****** OVERALL CONTAINER ******/

.overallContainer
{
    display: flex;
}

/****** ABOUT CONTAINER ******/

.aboutContainer
{
    background-color: #11a011;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 0 0 20%;
    padding: 10px;
    text-align: center;
    color: #ddd;
}
.aboutContainer img {
    border-radius: 50%;
}

.aboutContainer #devInfo p {
    margin-top: 8px;
    font-size: 0.85rem;
}

.aboutContainer #devInfo p a {
    margin: 10px 5px;
}

.aboutContainer p, .aboutContainer a {
    color: #FFF;
    font-size: 14px;
}

.aboutContainer #blogInfo p {
    padding: 10px;
}

.aboutContainer a img {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    margin: 20px 0;
}

.aboutContainer #blogInfo button {
    background-color: #888;
    color: #ffe;
    padding: 5px;
}

hr {
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 1px;
}
.aboutContainer #blogInfo a {
    text-decoration: none;
}

/****** contentContainer ******/

.contentContainer
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    flex: 0 0 80%;
    
}


/****** mainContent ******/

.mainContent {
    background-color: #FFF;
    margin: 20px 0;
    padding: 10px;
    padding: 2% 10%;
}

.mainContent .content {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 2% 10%; 
}

.mainContent .content .img
{
   margin-right: 5%;
}




/****** GENERAL ******/
img {
    width: 90px;
    height: 90px
}


/****** GENERAL ******/



/****** GENERAL ******/